.card-container {
  display: flex;
  align-items: center;
  background-color: #b3b0a8;
  padding: 10px;
  width: 90vw;

  color: black;
  .forecast-card {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  h3 {
    color: black;
    font-weight: bold;
  }
}

h3 {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
body {
  background-color: #30283b;
}

.previous-forecast-button {
  font-size: 30px;
  background-color: transparent;
}
.next-forecast-button {
  font-size: 30px;
  background-color: transparent;
}

.location-div {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.button-group {
  width: 80vw auto;
  justify-content: center;
}

.select-another-location-button {
  margin-left: 30px;
  background-color: #bd7e20;
  border: none;
  color: white;
}

.select-day-button {
  margin-left: 30px;
  background-color: #bd7e20;
  border: none;
  color: white;
  width: 150px;
  align-items: center;
}

.select-day-button:focus {
  margin-left: 30px;
  background-color: #bd7e20;
  border: none;
  color: white;
  width: 150px;
  color: black;
  font-weight: bold;
}

.mobile-only-dropdown {
  display: none;
}

@media (max-width: 820px) {
  .location-div {
    label,
    h3,
    select,
    button {
      margin: 0;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    h3 {
      margin-bottom: 20px;
    }
  }
  .mobile-only-dropdown {
    display: inline-flex;
    margin-bottom: 20px;
  }

  .select-day-button {
    display: none;
  }
  .select-another-location-button {
    background-color: #bd7e20;
    border: none;
    color: white;
  }
  .card-container {
    width: 90%;
    height: 100%;
    background-color: #b3b0a8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
  }
}
